/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root .theme-light {
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --bg-color: #fff;
  --bg-color-gradient: #d3d3d3;
  --bg-color-gradient-from: #e7e7e7;
  --bg-color-gradient-to: #1a1a1a;

  --bg-image-gradient: repeating-linear-gradient(
      to right,
      var(--bg-color-gradient),
      var(--bg-color-gradient) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      var(--bg-color-gradient),
      var(--bg-color-gradient) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(
      to bottom,
      var(--bg-color-gradient-from),
      var(--bg-color-gradient-from) 0.01%,
      var(--bg-color-gradient-to)
    );

  --accent-color: #000;
  --accent-color-rgba: rgba(0, 0, 0, 0.6);
  --overlay-color: #000;
  --shadow-color: #fff;
  --button-text-color: #fff;

  --bg-image: url("../svg/pattern-light.svg");

  --heart-contour: #000;
}

:root .theme-dark {
  --font-weight-normal: 465;
  --font-weight-bold: 785;

  --bg-color: #000;
  --bg-color-gradient: #000;
  --bg-color-gradient-from: #007f0c;
  --bg-color-gradient-to: #004306;

  --bg-image-gradient: repeating-linear-gradient(
      to right,
      var(--bg-color-gradient),
      var(--bg-color-gradient) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      var(--bg-color-gradient),
      var(--bg-color-gradient) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(
      to bottom,
      var(--bg-color-gradient-from),
      var(--bg-color-gradient-to)
    );

  --accent-color: #00cc14;
  --accent-color-rgba: rgba(0, 204, 20, 0.6);
  --overlay-color: #00cc14;
  --shadow-color: #000;
  --button-text-color: #00cc14;

  --bg-image: url("../svg/pattern-dark.svg");

  --heart-contour: #00cc14;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-weight-normal: 465;
    --font-weight-bold: 785;

    --bg-color: #000;
    --bg-color-gradient: #000;
    --bg-color-gradient-from: #007f0c;
    --bg-color-gradient-to: #004306;
    --bg-image-gradient: repeating-linear-gradient(
        to right,
        var(--bg-color-gradient),
        var(--bg-color-gradient) 2px,
        transparent 2px,
        transparent 4px
      ),
      repeating-linear-gradient(
        to bottom,
        var(--bg-color-gradient),
        var(--bg-color-gradient) 2px,
        transparent 2px,
        transparent 4px
      ),
      linear-gradient(
        to bottom,
        var(--bg-color-gradient-from),
        var(--bg-color-gradient-to)
      );

    --accent-color: #00cc14;
    --accent-color-rgba: rgba(0, 204, 20, 0.6);
    --overlay-color: #00cc14;
    --shadow-color: #000;
    --button-text-color: #00cc14;

    --bg-image: url("../svg/pattern-dark.svg");

    --heart-contour: #00cc14;
  }
}
